<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ProgDec Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Program Declaration</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">                    
                    <a class="nav-link" runat="server" href="~/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Program/">Programs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/DegreeType/">Degree Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Student/">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/ProgDec/">Declarations</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2 sidebar rounded-top">
                <div class="header rounded-top">
                    <h3>Programs</h3>
                </div>
                <div>
                    @{ Html.RenderAction("Sidebar", "Program"); }
                </div>
            </div>

            <div class="col-md-9 main container body-content rounded-top">
                <div class="header rounded-top">
                    <h3>@ViewBag.Message</h3>
                </div>
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ProgDec Application</p>
                </footer>
            </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
